@using MVCWebSite.product_scope
@model IEnumerable<Product>

@{
    ViewData["Title"] = "List products";
}

<h3>Products</h3>

<table class="table" style="width:100%">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Brand.Name</td>
            <td><a asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
            <td><a asp-controller="Product" asp-action="Remove" asp-route-id="@item.Id">Remove</a></td>
        </tr>
    }
</table>

<a asp-controller="Product" asp-action="New">New Product</a>